<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-checkout.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:26:06 GMT -->
<head>
    <meta charset="utf-8">
    <title>Zazzle</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <!-- <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg"> -->
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/main.css">
</head>


<% var username=username || '' ; %>
<% var wishListCount=wishListCount|| 0 ; %>
<% if (username) { %>
    <%-include('../partials/userheader',{username,wishListCount})-%>
             

            <% }else{%>
                <%-include('../partials/userheader')-%>
                    <%  }  %>

                      <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__close">+</div>
        <ul class="offcanvas__widget">
            <li><span class="icon_search search-switch"></span></li>
            <li>
              <a href="/wishlist"
                ><span class="icon_heart_alt">   </span>
                <% if(username && wishListCount) {%>
                  <div class="tip"> 
                  <span class="wishlist-count" id="wishListCount">
                      <%= wishListCount %>
                  </span> 
                  </div>
                  <% } %>
              </a>  
            </li>
            <li>
              <a href="/shop-cart"
                ><span class="icon_bag_alt"></span>
                <% if (username && cartCount) { %>
                <div class="tip">     
                    <span class="wishlist-count" id="wishListCount">
                        <%= cartCount %>
                    </span>  
                </div>
                <% } %>
              </a>
            </li>
        </ul>
        <div class="offcanvas__logo">
            <a href="./index.html"><img src="img/logo.png" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__auth">
            <% var username=username || '' ; %> 
              <% if (username) { %>
              <a href="/profile"><span class="text-dark font-weight-bold text-center mr-3">
                <%= username %></a> 
              </span>
              <a href="/logout">Logout</a>
              <% }else{%>
              <a href="/login">Login</a>
              <a href="/signup">Sign up</a>
                  <% } %>
        </div>
    </div>
    <!-- Offcanvas Menu End -->
                    <div class="col-md-12">
                        <div class="order_review">
                            <div class="mb-20">
                                <h4>Your Orders</h4>
                            </div>
                            <div class="table-responsive order_table text-center">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>OrderDate</th>
                                            <!-- <th>Address</th> -->
                                            <th>Total</th>
                                            <th>PaymentMethod</th>
                                            <th>OrderStatus</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% orders.forEach(function(orders){ %>
                                        <tr>
                                            <td><h5><%=orders.orderDate.toISOString().split('T')[0]%></h5></td>
                                            <td><%=orders.totalAmount %></td>
                                            <td><%=orders.paymentMethod %>  </td>
                                            <td>
                                                <% if(orders.orderStatus=='placed') {%>
                                                    <span class="badge rounded-pill alert-success text-success">
                                                        <%=orders.orderStatus %>
                                                    </span>
                                                    <% }else if (orders.orderStatus=='Cancelled' )  { %>
                                                        <span
                                                            class="badge rounded-pill alert-danger text-danger">
                                                            <%= orders.orderStatus %>
                                                        </span>
                                                        <% }else { %>
                                                            <span
                                                                class="badge rounded-pill alert-warning text-warning">
                                                                <%= orders.orderStatus %>
                                                            </span>
        
                                                        <% } %>
                                            </td>
                                            <td> <a href="/order-detailes/<%=orders._id%>" class="btn btn-dark rounded font-sm mt-15">View
                                                details</a>
                                            </td>
                                        </tr>
                                       
                                        <% }) %>
                                    </tbody>
                                </table>
                            </div>
                            <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
   
    
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins/slick.js"></script>
    <script src="assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="assets/js/plugins/wow.js"></script>
    <script src="assets/js/plugins/jquery-ui.js"></script>
    <script src="assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="assets/js/plugins/magnific-popup.js"></script>
    <script src="assets/js/plugins/select2.min.js"></script>
    <script src="assets/js/plugins/waypoints.js"></script>
    <script src="assets/js/plugins/counterup.js"></script>
    <script src="assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="assets/js/plugins/images-loaded.js"></script>
    <script src="assets/js/plugins/isotope.js"></script>
    <script src="assets/js/plugins/scrollup.js"></script>
    <script src="assets/js/plugins/jquery.vticker-min.js"></script>
    <!-- Template  JS -->
    <script src="assets/js/main.js"></script>
    <script src="assets/js/shop.js"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-checkout.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:26:06 GMT -->
</html>
<%-include('../partials/userfooter')-%>
