
    <% var username=username || '' ; %>
<% if (username) { %>
    <%-include('../partials/userheader',{username})-%>

 <% }else{%>
    <%-include('../partials/userheader')-%>
<%  }  %>
    <!DOCTYPE html>
    <html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <title>Evara - eCommerce HTML Template</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:title" content="">
        <meta property="og:type" content="">
        <meta property="og:url" content="">
        <meta property="og:image" content="">
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg">
        <!-- Template CSS -->
        <link rel="stylesheet" href="assets/css/main.css">
    </head>
  <!-- Offcanvas Menu Begin -->
  <div class="offcanvas-menu-overlay"></div>
  <div class="offcanvas-menu-wrapper">
      <div class="offcanvas__close">+</div>
      <ul class="offcanvas__widget">
          <li><span class="icon_search search-switch"></span></li>
          <li>
            <a href="/wishlist"
              ><span class="icon_heart_alt">   </span>
              <% if(username && wishListCount) {%>
                <div class="tip"> 
                <span class="wishlist-count" id="wishListCount">
                    <%= wishListCount %>
                </span> 
                </div>
                <% } %>
            </a>  
          </li>
          <li>
            <a href="/shop-cart"
              ><span class="icon_bag_alt"></span>
              <% if (username && cartCount) { %>
              <div class="tip">     
                  <span class="wishlist-count" id="wishListCount">
                      <%= cartCount %>
                  </span>  
              </div>
              <% } %>
            </a>
          </li>
      </ul>
      <div class="offcanvas__logo">
          <a href="./index.html"><img src="img/logo.png" alt=""></a>
      </div>
      <div id="mobile-menu-wrap"></div>
      <div class="offcanvas__auth">
          <% var username=username || '' ; %> 
            <% if (username) { %>
            <a href="/profile"><span class="text-dark font-weight-bold text-center mr-3">
              <%= username %></a> 
            </span>
            <a href="/logout">Logout</a>
            <% }else{%>
            <a href="/login">Login</a>
            <a href="/signup">Sign up</a>
                <% } %>
      </div>
  </div>
  <!-- Offcanvas Menu End -->
    <div class="col-md-12">
        <div class="order_review">
            <div class="mb-20">
                <h4>Your Orders</h4>
            </div>
    
        <% for(let i=0;i<orders.length;i++){%>
                <div class="card shadow-0 border mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-md-2 col-sm-2 ">
                                <img src="uploads/<%=orders[i].orderedProduct.productimage[0]%>" alt="">

                            </div>
                            <div class=" col-md-4 col-sm-3 align-items-center">
                                <p class=" mb-0">
                                    <strong> <%=orders[i].orderedProduct.productname%></strong>
                                </p>
                                <p class="text-muted mb-0 small">category:<%=orders[i].orderedProduct.productcategory%>
                                </p>
                                
                                <p class="text-muted mb-0 small">Price:&#8377;<%=orders[i].orderedProduct.productpromotionalprice%>
                                </p>
                                <p class="text-muted mb-0 small">color:<%=orders[i].orderedProduct.productColor%>
                                </p>
                            </div>

                       
                        </div>
                        <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">
                       
                    </div>
                </div>
                <% } %>
                <div>
                    <button onclick="window.location=' /order-list'"
                        class="btn btn-outline-primary rounded d-flex align-items-center">go to
                        orders</button>
                </div>
                    <!-- <div class="bt-1 border-color-1 mt-30 mb-30"></div> -->

        </div>
 
</div>
    </div>
    </div>
    </section>
    </main>
    <%-include('../partials/userfooter')-%>
        <!-- Vendor JS-->
        <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
        <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
        <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
        <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
        <script src="assets/js/plugins/slick.js"></script>
        <script src="assets/js/plugins/jquery.syotimer.min.js"></script>
        <script src="assets/js/plugins/wow.js"></script>
        <script src="assets/js/plugins/jquery-ui.js"></script>
        <script src="assets/js/plugins/perfect-scrollbar.js"></script>
        <script src="assets/js/plugins/magnific-popup.js"></script>
        <script src="assets/js/plugins/select2.min.js"></script>
        <script src="assets/js/plugins/waypoints.js"></script>
        <script src="assets/js/plugins/counterup.js"></script>
        <script src="assets/js/plugins/jquery.countdown.min.js"></script>
        <script src="assets/js/plugins/images-loaded.js"></script>
        <script src="assets/js/plugins/isotope.js"></script>
        <script src="assets/js/plugins/scrollup.js"></script>
        <script src="assets/js/plugins/jquery.vticker-min.js"></script>
        <!-- Template  JS -->
        <script src="assets/js/main.js"></script>
        <script src="assets/js/shop.js"></script>
        </body>


        <!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-checkout.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:26:06 GMT -->

    </html>