
<% var username=username || '' ; %>
<% var wishListCount=wishListCount|| 0 ; %>
<% if (username) { %>
    <%-include('../partials/userheader',{username,wishListCount})-%>
             

            <% }else{%>
                <%-include('../partials/userheader')-%>
                    <%  }  %>
    <!DOCTYPE html>
    <html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <title>Evara - eCommerce HTML Template</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:title" content="">
        <meta property="og:type" content="">
        <meta property="og:url" content="">
        <meta property="og:image" content="">
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg">
        <!-- Template CSS -->
        <link rel="stylesheet" href="assets/css/main.css">
    </head>
<main>
    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table shopping-summery text-center">
                            <thead>
                                <tr class="main-heading">
                                    <th scope="col">Product</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Total</th>
                                    <!-- <th scope="col" colspan="3"></th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <% for(let i=0;i<orders.length;i++){%>

                                <tr>
                                    <td class="image product-thumbnail">  <img src="uploads/<%=orders[i].orderedProduct.productimage[0]%>"></td>
                                    <td class="product-des product-name">
                                        <h5 class="product-name"><a href="shop-product-right.html">  <%=orders[i].orderedProduct.productname%></a></h5>
                                        <p class="font-xs"><%=orders[i].orderedProduct.productdescription %>
                                        </p>
                                    </td>
                                    <td class="text-center" data-title="quantity">
                                        <span class="color3 font-weight-bold"><%=orders[i].orderedItems.quantity%>
                                        </span>
                                    </td>
                                    <td class="price" data-title="Price"><span><%=orders[i].orderedProduct.productpromotionalprice%>
                                    </span></td>
                                    <td class="text-center" data-title="total">
                                        <span class="color3 font-weight-bold">₹<%=total%></span>
                                    </td>
                                    <!-- <td class="text-right" data-title="Cart">
                                        <button class="btn btn-sm"><i class="fi-rs-shopping-bag mr-5"></i>Add to cart</button>
                                    </td> -->
                                    <!-- <td class="action" data-title="Remove"><a href="#"><i class="fi-rs-trash"></i></a></td> -->
                                </tr>
                                <% } %>
                            </tbody>
                          
                        </table>
                        <div class="d-flex justify-content-center">
                            <button onclick="window.location=' /order-list'"
                                class="btn btn-outline-primary rounded">go to
                                orders</button>
                        </div>
                        <!-- <div class="bt-1 border-color-1 mt-30 mb-30"></div> -->

                        <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">
                    </div>
                </div>
            </div>
        </div>
    </section>
    </main>
    <%-include('../partials/userfooter')-%>
        <!-- Vendor JS-->
        <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
        <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
        <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
        <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
        <script src="assets/js/plugins/slick.js"></script>
        <script src="assets/js/plugins/jquery.syotimer.min.js"></script>
        <script src="assets/js/plugins/wow.js"></script>
        <script src="assets/js/plugins/jquery-ui.js"></script>
        <script src="assets/js/plugins/perfect-scrollbar.js"></script>
        <script src="assets/js/plugins/magnific-popup.js"></script>
        <script src="assets/js/plugins/select2.min.js"></script>
        <script src="assets/js/plugins/waypoints.js"></script>
        <script src="assets/js/plugins/counterup.js"></script>
        <script src="assets/js/plugins/jquery.countdown.min.js"></script>
        <script src="assets/js/plugins/images-loaded.js"></script>
        <script src="assets/js/plugins/isotope.js"></script>
        <script src="assets/js/plugins/scrollup.js"></script>
        <script src="assets/js/plugins/jquery.vticker-min.js"></script>
        <!-- Template  JS -->
        <script src="assets/js/main.js"></script>
        <script src="assets/js/shop.js"></script>
        </body>


        <!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-checkout.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:26:06 GMT -->

    </html>